<!DOCTYPE html>
<html lang="en">
<!-- lang="en" คือการกำหนดภาษาหลักให้กับเว็บไซต์-->
<head>
	<meta charset="UTF-8">
	<title>CMM 19</title>
	<link rel="stylesheet" type="text/css" 
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!-- coppy from bulma-->
	<link rel="stylesheet" type="text/css" href="/assets/home.css"> <!--from home.css-->
</head>
<body>
	<header>
		<div class="has-text-centered"> <!--align pictrue to center, div for standard in CSS-->		
			<img src="/assets/images/logo.png" alt="" width="145" 
			height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">LIVING</a>
			<a href="#" class="navbar-item">SOCIAL</a>
			<a href="#" class="navbar-item">TRAVEL</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">ACTIVITIES</a>
			<a href="#" class="navbar-item">MAGAZINE</a>
		</nav> <!--nav for top search in google around the world use-->
	</header>
	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item"> 
						<h1>I NEED TO RELAX</h1>
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns is-maginless">
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-1.jpg);">
						Lorem Ipsum
					</div>
				
				
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-2.jpg);">
						Lorem Ipsum
					</div>
				
			
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-3.jpg);">
						Lorem Ipsum
					</div>
				
				
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-4.jpg);">
						Lorem Ipsum
					</div>
				</div>
			</div>
		</section>
		<section class="section we-persent">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTER</a>
					</div>
					<div class="column has-text-centered">
						<a href="#">WE PERSENT</a>
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			</div>	

			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								เรื่องมาร
							</h4>
							<p>
								geiugneajoughuwahnrgmdiohivbnmgo jehvnwngruienvakwhgruhaeognawbwjhugr
							</p>
						</div>
					</div>
				</a>
			</div>
		</section>


	</main>
</body>
</html>
