{% extends 'layout/base.twig' %}

{% block stylesheet %}
<Link rel='stylesheet' href="/assets/home.CSS">
{% endblock %}

{% block content %}	

		<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item" style="background-image: url({{highlight.url}});"> 
						<h1>{{highlight.title}}</h1>
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns t is-maginless">
					{% for item in thumbnail %}
					<div class="column thumbnail-item is-paddingless has-text-centered" style="background-image:url({{item.url}});">
						{{item.title}}	
						Lorem Ipsum
					{% endfor %}	
					</div>
				</div>
			</div>
		</section>
		<section class="section we-persent">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTER</a>
					</div>
					<div class="column has-text-centered">
						<a href="#">WE PERSENT</a>
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			</div>	

			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a><a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-1"> 
							</figure>
						</div>
						<div class="card-content">
							<h5 class="category">Public Space</h5>
							<h3 class="title is-spaced is-4">
								Losum ipsum odlor sit amet, consectetur adipisicing elit.
							</h3>
							<h4 class="subtitle is-6">
								Hello World
							</h4>
							<p>
								hello hello hello how are you I'm fine I'm fine I hope that you are too
							</p>
						</div>
					</div>
				</a>
			</div>
		</section>
	</main>
{% endblock %}