header .navbar-tabs{
  justify-content: center; <!-- align to center in vertical -->
}

.highlight{
  margin-bottom: 0 !important; <!-- delete empty area -->
}

.highlight .highlight-item{
  height: 416px;
   background: url(/assets/images/home/banner/highlight.jpg) no-repeat center/cover;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center; <!-- align to center in horizon -->
}

.highlight .highlight-item h1{
  font-size: 80px
}

.thumbnail{
  border-top: 1rem solid #FFFFFF;
}

.thumbnail .thumbnail-item{
  background-repeat: no-repeat;  <!-- fill message on pictrue -->
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display:flex;
  justify-content: center;
  align-items: center;  
  height: 15rem
}

.thumbnail .thumbnail-item + .thumbnail-item{
  border-left: 0.2rem solid #FFFFFF; 
  <!-- if use left must not use 
  .thumbnail .thumbnail-item last child 
  border:none;  -->
}

