<!DOCTYPE html>
<html lang="en">
 <!--lang="en" คือการกำหนดภาษาหลักให้กับเว็บไซต์-->
<head>
	<meta charset="UTF-8">
	<title>CMM 19</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!-- coppy from bulma-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<Link rel="stylesheet" href="/assets/main.css">
	{% block stylesheet %}{% endblock %}
</head>
<body>
	
	{% include 'layout/header.twig' ignore missing %}

	{% block content %}
	{% endblock %}

</body>
</html>