	<header>
		<div class="has-text-centered"> <!--align pictrue to center, div for standard in CSS-->		
			<img src="/assets/images/logo.png" alt="" width="145" 
			height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">LIVING</a>
			<a href="#" class="navbar-item">SOCIAL</a>
			<a href="#" class="navbar-item">TRAVEL</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">ACTIVITIES</a>
			<a href="#" class="navbar-item">MAGAZINE</a>
		</nav> <!--nav for top search in google around the world use-->
	</header>
